*{
    font-family: 'Poppins', sans-serif;
    
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url("/images/donation13.jpg");
    height: 1000px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding:100px 200px;
    font-size: 40px;

}
.donate-now{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 10px;
    padding: 10px;
    color: whitesmoke;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    left:15% ;
    
       
}
.donate-today{
    margin-top:50px ;
}
.donate-today h1,p{
    text-align: center;
    font-size: larger;
     
}
.donate-today p{
  color:gray;
  margin-top: 20px;

}
.donate-today h1{
    font-size: 40px;
}   

.tk-boxes{
    display: flex;
    padding:0 20%;
}
.tk-box{
    background-color: whitesmoke;
    text-align: center;
    padding:55px;
    margin: 50px 5px;
    height:90px;
    width:90px;
    color:gray;
}
.custom-amount input {
  width:60%;
  border:0;
  outline:0;
  border-bottom: 2px solid gray;
  margin:10px 200px; 
}
.our-donate-plan{
    margin: 50px;
}
.our-donate-plan h1,p{
    text-align: center;
    margin-top: 10px;
}
.donate-plans{
    display: flex;
    padding: 50px;
    
}
#donate-plan1{
   background-color: burlywood;
   border-radius: 10px;
   margin:10px;
   text-align: justify;
   padding: 20px 30px ;
}
#donate-plan2{
    background-color: lightskyblue;
    border-radius: 10px;
    margin:10px;
    text-align: justify;
    padding: 20px 30px ;
 }
#donate-plan3{
    background-color:gray;
    border-radius: 10px;
    margin:10px;
    text-align: justify;
    padding: 20px 30px ;
 }
#donate-plan3 p{
    text-align: justify;
}  
#donate-plan1 p{
text-align: justify;
} 
#donate-plan2 p{
    text-align: justify;
}

.as-seen-in h1 {
    text-align: center;
    font-size: 40px;

}
.companies{
    display: flex;
    flex-wrap: wrap;
    width:50%;
    margin:50px auto;
    background-color:whitesmoke
}
.company{
    width:50%;
   
     
}

.company img {
 width:90% ;
 margin:2px;
}
.get-my-updates h1{
   text-align: center;
   font-size: 40px;
}
.get-my-updates p{
    color: gray;
}
.subscribe-form input{
    width:310px;
    height:40px;
    margin-left:450px;
    margin-top: 50px;
    
  
}
.subscribe{
    height: 45px;
    background-color: crimson;
    color: whitesmoke;
    padding: 5px;
    
    
}
.subscribe-form{
    background-color: whitesmoke;
    margin-top:50px ;
    padding-bottom:25px;
}
footer{
    text-align: center;
    background-color: gray;
    margin-top: 20px;;
}
.red{
    border:1px solid crimson ;
    color: crimson;
}